.item {
    width: 500px;
    font-size: 20px;
    color: #353935;
}

.itemName {
    font-weight: bold;
    padding: 20px;
}

.line {
    border: 1px solid #f4f4f4;
}

.deleteButton {
    float: right;
    padding: 12px 20px;
    border: none;
    background-color: #faca18;
    color: white;
    margin-top: -5px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}